[global]
workgroup = WORKGROUP
server string = {{ hostname }}
security = user
map to guest = Bad User
log file = /var/log/samba/%m.log
max log size = 50
dns proxy = no
unix extensions = no

[homes]
comment = Home Directories
writable = yes
follow symlinks = yes
wide links = yes
public = yes
only guest = yes
